body{
    background-color: black;
    background-image: url(./pexels-helloaesthe-15692905.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar {
    background-color: #1b1b1b;
}

.nav-link {
    color: #ffffff;
    font-weight: bold;
}

.nav-link:hover {
    color: #c59700;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='white' class='bi bi-list' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z'/%3e%3c/svg%3e");
}

ul{
    display: flex;
    justify-content: center;
}
li{
    margin: 30px;
    list-style: none;
    
}
a{
    color: #ffffff;
    font-weight: bold;
    transition: .5s;
    padding: 10px;
}
a:hover{
    color: #c59700;
    text-decoration: none;
    border: solid 2px #c59700;
    border-radius: 30px;
}
.menu{
    display: flex;
}
.logout{
    
    /* background-color: #FFC857; */
    color: #fff;
    font-weight: bold;
    transition: .5s;
    
    border: none;
}
.logout:hover{
    background-color: #c59700;
    color: #ffffff;
    text-decoration: none;
    border: solid 2px #8f6d00;
    border-radius: 30px;
}

h1{
    margin: 50px auto;
    text-align: center;
    color: #fff;
}

.cardapio {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
}


@media (min-width: 768px) {
    .cardapio {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .cardapio {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.p {
    border-radius: 0px;
    /* border: 3px solid #c59700; */
    background-color: #fff;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    
}
.p:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transform: scale(1.01);
}


.price{
    margin: 0px 10px;
    font-weight: bold;
}
.add{
    background-color: #ffea8c;
    border-radius: 30px;
    color: #000000;
    font-weight: bold;
    transition: .0s;
    padding: 10px;
    border: none;
}
.add:hover{
    color: #c59700;
    text-decoration: none;
    border: solid 2px #c59700;
    border-radius: 30px;
}
.img {
    width: 200px;
    height: auto;
    border-radius: 15px;
}

.form {
    margin-top: 10px;
}

.ver {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    background-color: #DB3A34;
    color: #fff;
}
.ver:hover{
    color: #ffffff;
    text-decoration: none;
    border: solid 2px #ffffff;
    border-radius: 30px;
}

/* Animação de tremer */
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}

.shake {
    animation: shake 0.5s ease-in-out;
}

/* carrinho */
.carrinho{
    margin: 0 auto;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 20px;  
    background-color: #fff;
}

th, td{
    padding: 30px;
}
.menos{
    display: inline;
    border-radius: 30px;
    color: #000000;
    font-weight: bold;
    background-color: #7CA5B8;
    border: none;
    margin: 0px 10px;
    transition: .2s;
    width: 50px;
}
.menos:hover{
    background-color: #017ab3;
}
.mais{
    display: inline;
    border-radius: 30px;
    color: #000000;
    font-weight: bold;
    background-color: #9CC507;
    border: none;
    margin: 0px 10px;
    transition: .2s;
    width: 50px;
}
.mais:hover{
    background-color: #c0f500;
}
.remover{
    display: inline;
    border-radius: 30px;
    color: #000000;
    font-weight: bold;
    background-color: #FF715B;
    border: none;
    transition: .2s;
}
.remover:hover{
    background-color: #ff3617;

}
.final-carrinho{
    background-color: #fff;
    width: 60%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    border-radius:  0px  0px 20px 20px;
    
}
.final-carrinho a{
    color: #000;
    
}
.final-carrinho a:hover{
    color: #c59700;
}
@media (min-width: 1120px) {
    .final-carrinho {
        width: 30%;
    }
}
.total{
    background-color: #fff;
    border-radius: 0px  0px 20px 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    color: #c59700;
    
}

/* finalizar */
.finalizar{
    text-align: center;
}
.titulo-finalizar{
    font-weight: bold;
    color: #ffffff;
    font-size: 30px;
    margin: 10px;
}
.titulo-final{
    font-weight: bold;
    color: #a7a401;
    margin: 10px;
}
.final-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.finalizar-carrinho{
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.form-finalizar{
    background-color: #fff;
    margin: 10px auto;
    padding: 20px;
    width: 50%;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.form-finalizar input{
    border-radius: 15px;
    width: 30%;
    padding: 6px;
    margin: 10px;
}
.form-finalizar select{
    border-radius: 15px;
    width: 30%;
    margin: 10px;
    font-weight: 600;
    
}
.button-final{
    color: #000000;
    background-color: #fff;
    font-weight: bold;
    transition: .5s;
    padding: 10px;
    margin: 10px;
}
.button-final:hover{
    color: #c59700;
    text-decoration: none;
    border: solid 2px #c59700;
    border-radius: 30px;
}

/* pedidos */
.pedidos{
    display: block;

}
.pedido{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.pedido-produtos{
    display: block;
}
.p-prod{
    list-style: circle;
}
.entregue{
    color: #394900;
    font-size: 50px;
    
}

/* footer */
.footer-flex{
    display: flex;
    margin: 200px auto;    
    justify-content: center;
    align-items: center;
}
.footer-info{
    font-weight: bold;
    padding: 20px;
    color: #000000;
    background-color: #fff;
    background-image: url(./fundo-blur\ \(1\).png);
}
.footer-flex2{
    display: flex;
    justify-content: space-between;
    background-color: #1b1b1b;
    padding: 50px;
}
.bemvindo{
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.footer-flex2 p{
    font-weight: bold;
    color: #ffffff;
}

@media screen and (max-width: 1075px) {
    .footer-flex{
        flex-direction: column;
        
    }
    .footer-info{
        width: 50%;
    }
    
  }


/* products admin */
.voltar{
    background-color: #aec200;
}
.voltar:hover{
    background-color: #6e8117;
}

.produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.prod{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
}
.editar{
    background-color: #FFC857;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    padding: 10px;
    margin: 8px 0px;
    border-radius: 15px;
    transition: .2s;
}
.editar:hover{
    background-color: #FFDD99;
    text-decoration: none;
    color: #000;
}
.excluir{
    background-color: #DB3A34;
    color: #000;
    font-weight: 700;
    border: none;
    padding: 5px;
    margin: 15px 0px;
    border-radius: 15px;
    transition: .2s;
    cursor: pointer;
}
.excluir:hover{
    cursor: pointer;
    background-color: #E77874;
    
}
.criar{
    background-color: #499F68;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    padding: 10px;
    margin: 8px 0px;
    border-radius: 15px;
    transition: .2s;
}
.criar:hover{
    background-color: #9DD2B1;
    text-decoration: none;
    color: #000;
}


.formulario{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    }
.inputs{
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    width: 100%;
    max-width: 670px;
    }
.titulos{
    font-weight: 700;
    text-align: center;
}
.salvar{
    background-color: #499F68;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    padding: 5px;
    margin: 8px 0px;
    border-radius: 15px;
    transition: .2s;
    width: 100px;
    cursor: pointer;
    border: none;
}
.salvar:hover{
    background-color: #9DD2B1;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
}
.card-header{
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    width: 100%;
    font-weight: bold;
}
.link-login{
    color: #000;
    font-weight: 700;
    font-size: 12px;
}
.link-login:hover{
    font-weight: bold;
    color: #000;
    text-decoration: none;
}